/* Light Theme */
:root {
  --primary-color: #CDB110;
  --secondary-color: #1A2A6C;
  --background-color: #FAF5E4;
  --text-color: #333333;
  --border-color: #EAEAEA;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: #A88E2A;
  --secondary-color: #0D1B42;
  --background-color: #101010;
  --text-color: #E3C770;
  --border-color: #BEBEBE;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nav-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--border-color);
}

.nav-bar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

.nav-bar a.active {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.nav-bar button {
  margin-left: auto;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: var(--text-color);
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--secondary-color);
}

.theme-toggle.light-mode {
  background-color: #cdb110;
  color: white;
}

.theme-toggle.light-mode:hover {
  background-color: #e1c210;
}

.theme-toggle.dark-mode {
  background-color: #444;
  color: #f9c74f;
}

.theme-toggle.dark-mode:hover {
  background-color: #555;
}