/* Global Font & Theme Variables */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light Theme */
  --background-color: #faf5e4;
  --text-color: #333333;
  --border-color: #eaeaea;

  /* Buttons */
  --button-bg: #007bff;
  --button-bg-hover: #0056b3;
  --button-text: #ffffff;
  --button-border: #004999;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #101010;
  --text-color: #e3c770;
  --border-color: #bebebe;

  /* Dark Mode Buttons */
  --button-bg: #444;
  --button-bg-hover: #555;
  --button-text: #f9c74f;
  --button-border: #f9c74f;
}

/* Global Styles */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100%;
  overflow: hidden;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2, .success-message, .no-thresholds-message {
  text-align: center;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 2px solid var(--button-border);
  padding: 0.8em 1.4em;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: var(--button-bg-hover);
  border-color: var(--button-text);
}

/* Button Focus */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Form Elements */
input, select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  background: var(--background-color);
  color: var(--text-color);
  transition: border 0.3s ease;
}

/* Dark Mode Adjustments */
[data-theme="dark"] input,
[data-theme="dark"] select {
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
}

/* Messages */
.message {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
